<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lions CU</title>
</head>
<body>
    <h1>
        Lions CU
    </h1>
    This is a simple web application which generates real-time graphs of the crowd sizes in Columbia dining halls (Ferris, John Jay, JJ's Place). It uses Columbia's own API for crowd sizes which is based on concurrent Wi-Fi connections.
    <br/>

    <iframe class="frames" src="/app/ferris_graph.html" scrolling="no" style="border:2px solid navy;" seamless="seamless" height="525" width="100%" title="description" alt="ferris doesn't exist"></iframe>
    <br/>
    <iframe class="frames" src="/app/johnjay_graph.html" scrolling="no" style="border:2px solid navy;" seamless="seamless" height="525" width="100%" title="description" alt="john jay doesn't exist"></iframe>
    <br/>
    <iframe class="frames" src="/app/jj_graph.html" scrolling="no" style="border:2px solid navy;" seamless="seamless" height="525" width="100%" title="description" alt="jj doesn't exist"></iframe>
</body>
</html>